/* Reseteo valores y agrego una fuente de texto */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}


/* Agrego el grid a la pagina */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 70px auto 90px;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "footer footer footer"
    ;
}

/* Personalizo el navbar de bootstrap */
.encabezado{
    user-select: none;  
    grid-area: header;
    z-index: 1;
}

header nav div ul li{
    margin-left: 30px;
    font-size: 1.2rem;
}

/* Main */
.contenido{
    grid-area: main;
}

/* titulo */
.titleText{
    margin: 0 auto;
    user-select: none;
    margin-top: 40px;
    text-align: center;
}

.fa-paw {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
}

.titleText h1 {
    display: inline-block;
}

.titleText:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* Historia y biografia de la pagina */
/* Estilo caja1 historia */
.cajaHistoria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px 0px 20px;
    user-select: none;
}

.cajaHistoria img {
    width: 40%;
    border-radius: 10px;
}

.cajaHistoria img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.cajaHistoria p {
    font-size: 1rem;
    margin: 10px;
}

/* Estilo caja2 historia */
.cajaHistoria2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 100px 0px 0px 0px;
    user-select: none;
}

.cajaHistoria2 img {
    width: 40%;
    border-radius: 10px;
}

.cajaHistoria2 img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.cajaHistoria2 p {
    font-size: 1rem;
    margin: 10px;
}

/* Media Queries Cajas de historia*/

@media screen and (max-width: 568px) {
    .cajaHistoria {
        flex-direction: column;
    }
    
    .cajaHistoria img {
        width: 80%;
        margin: 0 auto;
    }
    
    .cajaHistoria p {
        text-align: center;
        font-size: 0.8rem;
    }
    
    /* Estilo caja2 historia */
    .cajaHistoria2 {
        flex-direction: column;
        margin: 20px 0px 0px 0px;
    }
    
    .cajaHistoria2 img {
        width: 80%;
        margin: 0 auto;
    }
    
    .cajaHistoria2 p {
        text-align: center;
        font-size: 0.8rem;
    }    
}

/* texto para concientizar */
.concientizar:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.tituloConcientizar {
    user-select: none;
    margin: 90px 0px 0px 0px;
    text-align: center;
    font-weight: 900;
}

.textoParaConcientizar{
    user-select: none;
    margin: 25px 10px 10px 10px;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
}

.subTextConcientizar {
    user-select: none;
    text-align: center;
    font-size: 0.6rem;
}

/* Media query texto concientizar*/
@media screen and (max-width:768px) {
    .concientizar {
        margin: 10px 0px 50px 0px;
    }

    .tituloConcientizar {
        margin: 40px 0px 0px 0px;
    }
    
    .textoParaConcientizar {
        margin: 10px 5px 5px 5px;
    }

    .subTextConcientizar {
        font-size: 0.7rem;
    }
}

/* aside */
aside {
    background-color: rgb(239, 239, 239);
    grid-area: aside;
    margin: 0px 0px 0px 20px;
}

/* Dandole estilo a las cards de adopción*/
aside .card {
    width: 60%;
    user-select: none;
    margin: 0 auto;
    margin-top: 20px;
}

/* Dandole una animacion */
aside .card:hover{
    cursor: pointer;
    animation: cards 0.3s ease;
}

@keyframes cards {
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(5deg);
    }

    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* Media query cards */
@media screen and (max-width:768px) {
    aside {
        margin: 0px;
    }
    
    .card {
        width: 70%;
    }
}

/* Footer */
.pie{
    grid-area: footer;
    background-color: rgb(239, 239, 239);
    margin-top: 10px;
    height: 100%;
}

/* texto copyright */
footer section h3 {
    user-select: none;
    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 10px;
}

/* Iconos de contacto */
footer section .iconos {
    user-select: none;
    padding: 10px;
}

footer section .iconos a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 1rem;
}

/* Color personalizado a los iconos */
footer section .iconos .fa-whatsapp {
    color: rgb(92, 222, 92);
}

footer section .iconos .fa-instagram {
    color: rgb(214, 90, 255);
}

footer section .iconos .fa-twitter {
    color: rgb(122, 188, 238);
}

/* Parte de nosotros texto*/
.parteDeNosotros {
    color: black;
} 

.parteDeNosotros h4{
    display: inline;
    float: right;
    font-size: 1rem;
}

.parteDeNosotros:hover {
    cursor: pointer;
    color: orange;
    transition: all 0.4s ease;
}

/* Media query footer */
@media screen and (max-width:468px) {
    footer section h3 {
        font-size: 0.7rem;
    }

    footer section .iconos a {
        font-size: 0.9rem;
    }

    .parteDeNosotros h4{
        font-size: 0.8rem;
    }
}




/*-------MEDIA QUERY Grids-----*/
@media screen and (max-width:768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px auto auto 100px;
        grid-template-areas: 
        "header header"
        "main main"
        "aside aside"
        "footer footer"
        ;
    }
}

@media screen and (max-width:468px){
.grid-container{
    grid-template-columns: 1fr;
        grid-template-rows: 70px auto auto 100px;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
        ;
    }
}